* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Open+Sans', sans-serif;
}

body {
    background: rgb(255, 255, 255);
    color: black;
    overflow: hidden;
    overflow-y: scroll;
}