#workContainer {
    background: lightslategray;
    overflow: hidden;
    width: 100vw;
    /* max-width: 60rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.workTitle {
    color: white;
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}

.worksList {
    color: white;
    font-weight: 300;
    font-size: 1rem;
    max-width: 80%;
    padding: 0 2rem;
    text-align: left;
}

.work {
    /* display: flex; */
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
}

.work>p {
    font-size: 1rem;
    font-weight: 200;
}

@media screen and (max-width) {
    .work>p {
        font-size: 2vw;
    }
    
}